<{extends "../Layout/default.html"}>
<{block name="main"}>
<script src="/js/jquery.colorbox.js"></script>
<link rel="stylesheet" href="/js/css/colorbox.css" />
<div id="m_title">
    <div id="crumb">实名认证</div>
</div>

<form method="get" name="search_form">
    <div class="search">
        <div class="title">快速检索</div>
        <table style="width: auto;">
            <tr> 
                <th>手机号：</th>
                <td><input type="text" class="text form_value" name="sh[type]" size="30" value="<{$sh.type|escape}>" /></td>
                <th>姓名：</th>
                <td><input type="text" class="text form_value" name="sh[question]" size="30" value="<{$sh.question|escape}>" /></td>               
                <td class="option">
                    <input type="image" src="/image/btn_search.png" />
                    <img src="/image/btn_reset.png" onclick="searchReset()" />
                </td>
                
            </tr>
        </table>
    </div>
    <div class="list_bar">
        <{include file="../Common/paging.html"}>
        <div class="clr"></div>
    </div>
</form>

<div class="list">
    <table>
        
        <tr>
            <th>ID</th>
            <th width="140">手机号</th>
            <th>姓名</th>
            <th>证件号</th>           
            <th>证件照</th>            
            <th>时间</th>
            <th>操作</th>
        </tr>
        <{foreach $results.items as $row}>
        <tr>
            <td><{$row.qid}></td>
            <td>13888888888</td>            
            <td>欧阳瓜瓜</td>
            <td>5123219432143149923</td>                    
            <td><a href="ddddd">查看</a></td>            
            <td><{$row.created}></td>
            <td>通过认证 / 拒绝认证</td>
            <div style='display:none'>
                <div id="remark_<{$row.qid}>"><{$row.remark|nl2br}>
                </div>
            </div>
        </tr>
        <{/foreach}>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".inline").colorbox({inline: true, width: "450px"});
    });
</script>

<{/block}>