<{extends "../Layout/layerDefault.html"}>
<{block name="main"}>
<div class="list auto" style="margin-top: 1%;border-top:1px solid #CCC">
<table width="500" height="200" cellpadding="3" cellspacing="3">
    <tr>
        <th style="border-bottom: 1px dotted #ccc; font-size:16px; line-height: 200%">
            <{if $result.name}>
                <{$result.name}>
            <{else}>
                <{$result.tel}>
            <{/if}>的押金信息</th></tr>
    <tr><td valign="top">
            <table width="100%" style="margin-top:8px;border:1px solid #d0d0d0" cellpadding="0" cellspacing="0">                
                <tr>
                    <td style="font-size:16px; background-color: #eeeeee; line-height: 250%;text-align:center">支付方式</td>
                    <td style="font-size:16px; background-color: #eeeeee; text-align:center; border-left:1px solid #d0d0d0;border-right:1px solid #d0d0d0">金额</td>
                    <td style="font-size:16px;text-align:center; background-color: #eeeeee; border-right:1px solid #d0d0d0">退还操作人</td>
                    <td style="font-size:16px; background-color: #eeeeee; text-align:center">退还时间</td>
                </tr>
                
                <tr>
                    <td style="font-size:14px;line-height: 250%;text-align:center">
                        <{if $result.pay_type == 1}>微信
                        <{elseif $result.pay_type == 2}>支付宝
                        <{else}>其他
                        <{/if}>
                    </td>
                    <td style="font-size:14px;text-align:center;border-left:1px solid #d0d0d0;border-right:1px solid #d0d0d0">￥<{$result.price}></td>
                    <td style="font-size:14px;text-align:center;border-right:1px solid #d0d0d0" title="帐号：<{$result.zh}>"><{$result.thczr}></td>
                    <td style="font-size:14px;text-align:center"><{$result.created}></td>
                </tr>
               
            </table>

        </td></tr> 
</table>
    </div>
<{/block}>
    