<{extends "../Layout/layerDefault.html"}>
<{block name="main"}>
<div class="list auto" style="margin-top: 1%;border-top:1px solid #CCC">
    <table>
        <colgroup><col width="50">
            <col>
            <col width="150">
            <col width="200">
            <col width="150">
        </colgroup><tbody><tr>
                <th>ID</th>
                <th>问题</th>
                <th>问题类型</th>
                <th>答案分析</th>
                <th>创建时间</th>
            </tr>
            <tr>
                <td>852</td>
                <td>我们一定要毫不动摇坚持与时俱进发展中国特色社会主义，不断丰富中国特色社会主义的 。(    )</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 14:01:33</td>
            </tr>
            <tr>
                <td>850</td>
                <td>2014年9月，习近平总书记在纪念中国人民抗日战争暨世界反法西斯战争胜利69周年座谈会的讲话中指出，在前进的征程上，我们必须坚定不移（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:59:39</td>
            </tr>
            <tr>
                <td>849</td>
                <td>抓好党的作风建设，关键是要（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:58:54</td>
            </tr>
            <tr>
                <td>848</td>
                <td>2013年6月，习近平总书记在全国组织工作会议上提出了好干部的标准是（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:58:12</td>
            </tr>
            <tr>
                <td>847</td>
                <td>丝绸之路精神包括（   ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:57:28</td>
            </tr>
            <tr>
                <td>846</td>
                <td>党在新形势下的强军目标是建设一支（  ）的人民军队。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:56:52</td>
            </tr>
            <tr>
                <td>845</td>
                <td>实行最严格的生态环境保护制度包括（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:56:13</td>
            </tr>
            <tr>
                <td>844</td>
                <td>以系统工程思路抓生态建设，需要（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:55:25</td>
            </tr>
            <tr>
                <td>843</td>
                <td>从传统社会管理向现代化治理转变需要（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:53:13</td>
            </tr>
            <tr>
                <td>842</td>
                <td>习近平总书记指出：“治理和管理一字之差，体现的是（  ）。</td>
                <td>多选</td> 
                <td>
                    --
                </td>
                <td>2016-05-16 13:52:31</td>
            </tr>
        </tbody></table>
</div>
<{/block}>