<{extends "../Layout/layerDefault.html"}>
<{block name="main"}>
<div class="info auto" style="margin-top: 1%;border-top:1px solid #CCC">
    <table>
        <tbody><tr>
                <th>ID：</th>
                <td>852</td>
            </tr>
            <tr>
                <th class="must">问题类型：</th>
                <td>
                    <input type="radio" disabled="disabled"> 单选&nbsp;&nbsp;<input type="radio" disabled="disabled" checked="checked"> 多选&nbsp;&nbsp;<input type="radio" disabled="disabled"> 判断&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <th class="must">问题：</th>
                <td>
                    <span>我们一定要毫不动摇坚持与时俱进发展中国特色社会主义，不断丰富中国特色社会主义的 。(    )"></span>
                </td>
            </tr>
            <tr>
                <th class="must">答案：</th>
                <td>
                    <div class="answer">
                        <span style="padding-right: 5px;">A：实践特色</span>
                        <input type="checkbox" checked="true" disabled="disabled" >是否正确答案
                    </div>
                    <div class="answer">
                        <span style="padding-right: 5px;">B：理论特色</span>
                        <input type="checkbox" checked="true" disabled="disabled" >是否正确答案
                    </div>
                    <div class="answer">
                        <span style="padding-right: 5px;">C：民族特色</span>
                        <input type="checkbox" disabled="disabled" >是否正确答案
                    </div>
                </td>
            </tr>
            <tr>
                <th>答案分析：</th>
                <td>
                    <p>
                        的飞洒范德萨发货好色代价咖啡是咖啡和<br>
                        的飞洒范德萨发货好色代价咖啡是咖啡和<br>
                        的飞洒范德萨发货好色代价咖啡是咖啡和<br>
                        的飞洒范德萨发货好色代价咖啡是咖啡和<br>的飞洒范德萨发货好色代价咖啡是咖啡和<br>
                        的飞洒范德萨发货好色代价咖啡是咖啡和<br>

                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<{/block}>