    <div class="list_title">共 <{$results.paging.total_items}> 个结果</div>
    <div class="input" style="float:right;margin-right:10px;margin-top: 2px">
        <input type="text" class="page_text" name="sh[page]" size="3" value="<{$sh.page}>"/>
        <input type="submit" class="button" value="跳转" />
    </div>
    <select name="sh[perpage]" onchange="$(this).closest('form').submit()" style="float:right;margin-right:10px;margin-top: 6px;">
        <{if $codeConfig.paging.$controllerName}>
        <{html_options options=$codeConfig.paging.$controllerName selected=$sh.perpage}>
        <{else}>
        <{html_options options=$codeConfig.paging.default selected=$sh.per_page}>
        <{/if}>
    </select>
    <{ww_html_paging data=$results.paging uri=$smarty.server.REQUEST_URI sh=$sh}>